################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPSS.Trade.Bittrex/RPSS.Trade.Bittrex/bin/Debug/netcoreapp2.1
/RPSS.Trade.Bittrex/.vs/RPSS.Trade.Bittrex/v15/Server/sqlite3
/RPSS.Trade.Bittrex/RPSS.Trade.Bittrex/obj/Debug/netcoreapp2.1
