################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPSS.Trade.Bittrex/RPSS.Trade.Bittrex/bin/Debug/netcoreapp2.1
